.Dropdown {
  text-align: left;
}

.Dropdown__container {
  display: flex;
  position: relative;
  align-items: center;
  padding: 5px 10px;
  width: 100%;
  max-width: 450px;
  height: 85px;
  background-color: #e8e8e8;
  margin: 64px auto;
  border-radius: 5px;
}

.Dropdown__container--down-arrow {
  width: 0; 
  height: 0;
  position: absolute;
  right: 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #2c2c2c;
}

.Dropdown__container--up-arrow {
  width: 0; 
  height: 0;
  position: absolute;
  right: 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #2c2c2c;
}

